body {
  margin: 0;
}
footer {
  margin: 0;
  background-color: #330A0A;
  height: 2.5em;
  display: flex;
  justify-content: center;
}
main {
  background-image: url("images/background-lines-muted.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Text formatting styles */
h1 {
    color: #daf9d6;
    font-family: Baskervville, serif;
    font-size: 24pt;
    text-transform: uppercase;
    text-align: center;
  }
h2 {
  font-family: Baskervville, serif;
  font-size: 18pt;
  color: #661414;
}
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  text-transform: uppercase;
}
p, .cv ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  text-wrap: auto;
}
a:hover {
  color: #330A0A;
 }
a {
  color: #661414;
  text-decoration: underline;
}
small {
  color: #ACBBAA;
  display: flex;
  align-self: center;
}
.skill {
  border-radius: .5em;
  border-style: double;
  padding: .2em;
  margin: .2em;
  line-height: 2.15em;
  border-width: 5px;
  border-color: #661414;
}
/* header styles */
header {
    background-color: #330A0A;
    height: 200px;
    padding: .5em .5em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
header h1 {
    color: #ACBBAA;
    align-self: center;
  }
nav {
    background-color: #661414;
    padding: .5em;
  }
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
nav ul li {
    font-size: 14pt;
    font-family: Baskervville, serif;
  }
nav ul li a, nav ul li a:visited {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    background-color: #e7d6cb;
    padding: .5em 1em;
    margin: .5em; 
    color: black;
    text-decoration-line: none;
  }
nav ul li a:hover {
    background-color: #c9b09f;
    color: black;
    text-decoration: double;
  }

/* carousel styles */
.carousel {
  max-width: 70vw;
  height: auto;
  overflow: clip;
  position: relative;
  margin: auto;
  padding: 1em;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(239, 244, 239);
  border-radius: .75em;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 475px;
  color: black;
  user-select: none;
}
.next {
  right: 7%;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: black;
  opacity: 25%;
}
.text {
  grid-column-start: 2;
  color: black;
  font-size: 15px;
  padding: 70px 5px;
  position: absolute;
  width: 95%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 35px 2px;
  background-color: #811a1a;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #330A0A;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Bio styles */
.bio img {
  float: right;
  margin-right: 2em;
  margin-left: 2em;
  height: 25vw;
  border-radius: 15%;
  border-width: 15px;
  border-style: groove;
  border-color: #811a1a;
  box-shadow: -15px 10px #330A0A;

}
.bio p, .bio h2 {
  margin-left: 2em;
  background-color: rgb(239, 244, 239);
  border-radius: .5em;
  max-width: fit-content;
  padding: .5em;
}
.bio {
  margin-top: 8em;
  padding: .95em;
}

/* cv styles */
.cv {
  margin: 2rem;
}
.education, .publications, .awards {
  background-color: #e7d6cb;
}
.education, .work, .publications, .volunteer, .awards {
  padding: 2rem;
}
/* leaders code modified from W3.org */
ul.leaders {
  padding: 0;
  overflow-x: hidden;
  list-style: bullet;
}
ul.leaders span.point::after {
  white-space: nowrap;
  content:
" . . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
" . . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . .";
  overflow: hidden;
}
ul.leaders span:first-child {
  padding-right: 0.33em;
}
ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
}

/* portfolio styles */
.portfolio button {
  background-color: #daf9d6;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  border-radius: 10px;
  padding: 6px;
  margin: 1em;
}
.portfolio button:hover {
  background-color: #c7e2c3;
}
.skills {
  text-align: center;
}
.portfolio a {
  color: #661414;
  text-decoration: underline;
  text-align: center;
}
.instructions, .TechComm, .QualAnalysis, .RhetAnalysis,
.project,
.files {
  padding: 2rem;
  text-align: center
}
.filterDiv {
  display: none;
  max-height: 18em;
  background-image: url("images/Website-Background-clip1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin:border-box;
  padding-left: 12em;
  padding-right: 12em;
}
.show {
  display: block;
}
#myBtnContainer {
  text-align: center;
  height: 10em;
  background-image: url("images/Website-Background-clip2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 3rem;
}
/* project pages styles */
i {
  font-size: 35px;
  text-decoration: none;
  margin-left: 7vw;
  margin-top: 25px;
}
.project img {
  float: right;
  width: 45vw;
  margin-left: 5vw;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
iframe {
  height: 500px;
  width: 70vw;
}











